*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.content{
    width: 100vw;
    height: 100vw;
    padding: 2rem;
    background-color: #fff;
}
.body{
    background-color: #f6f8fc;
}
.content_body{
    background-color: #F4A460;
}
@media screen and (min-width: 992px) {
    .content{
        min-width: 992px;
        height: auto;
        margin: 1rem auto;
        padding: 1rem;
        background-color: #fff;
        border-radius: 1rem;
    }
}
